@model Banking.Models.TransferTransactionModel
@{
}

<div class="card service-box mt-3" id="saving">
    <div class="card-body">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3  row-cols-lg-4 row-cols-xl-5 g-3">
            <div class="col">
                <label class="form-label">Clear Balance</label>
                <div>@Model.ClearBalance</div>
            </div>
            <div class="col">
                <label class="form-label">Unclear Balance</label>
                <div>@Model.UnclearBalance</div>
            </div>
            <div class="col">
                <label class="form-label">Account Balance</label>
                <div>@Model.AccountBalance</div>
            </div>
            <div class="col">
                <label class="form-label">Oper. Instr.</label>
                <div>@Model.OperarationInstruction</div>
            </div>
            <div class="col">
                <label class="form-label">Oper. By</label>
                <div>@Model.OperatedBy</div>
            </div>
            <div class="col">
                <label class="form-label">Pending Balance</label>
                <div>@Model.PendingBalance</div>
            </div>
            <div class="col">
                <label class="form-label">Customer Id</label>
                <div>@Model.CustomerId</div>
            </div>
            <div class="col">
                <label class="form-label">Limit Amount</label>
                <div>@Model.LimitAmount</div>
            </div>
            <div class="col">
                <label class="form-label">Total Cash Dr.</label>
                <div>@Model.TotalCashDebited</div>
            </div>
            <div class="col">
                <label class="form-label">Total Cash Cr.</label>
                <div>@Model.TotalCashCredited</div>
            </div>
            <div class="col">
                <label class="form-label">Limit Expiry Date</label>
                <div>@Model.LimitExpiryDate</div>
            </div>
            <div class="col">
                <label class="form-label">GSTIN</label>
                <div>@Model.GSTIN</div>
            </div>
        </div>
    </div>
</div>
