@using Banking.Models
@model Banking.Models.TransferTransactionModel
@{
    Layout = "_Layout";
}

<div class="card h-100">
    <div class="card-header">
        <h3 class="mb-0 section-title">Transfers</h3>
    </div>
    <div class="card-body pt-2">
        <div class="d-flex flex-wrap bg-light px-2 pt-2 mb-2 border rounded">
            <div class="me-3 fw-bold">
                @foreach (TransactionModes mode in Enum.GetValues(typeof(TransactionModes)))
                {
                    <div class="form-check form-check-inline" id="@mode">
                        <input asp-for="TransactionMode" type="radio" class="form-check-input module-checkbox" value="@mode" />
                        <label asp-for="TransactionMode" class="form-check-label">@mode</label>
                    </div>
                }
            </div>
            <div class="ms-auto">
                <div class="form-check form-check-inline">
                    <input asp-for="CheckABB" class="form-check-input module-checkbox" type="checkbox" />
                    <label asp-for="CheckABB" class="form-check-label">ABB</label>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="CheckCheque" class="form-check-input module-checkbox" type="checkbox">
                    <label asp-for="CheckCheque" class="form-check-label">Cheque</label>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="CheckLinkModule" class="form-check-input module-checkbox" type="checkbox" />
                    <label asp-for="CheckLinkModule" class="form-check-label">Link Module</label>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="CheckTransDetails" class="form-check-input module-checkbox" type="checkbox" />
                    <label asp-for="CheckTransDetails" class="form-check-label">Trans Details</label>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="CheckDenoms" class="form-check-input module-checkbox" type="checkbox" />
                    <label asp-for="CheckDenoms" class="form-check-label">Denoms</label>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="CheckRateDetails" class="form-check-input module-checkbox" type="checkbox" />
                    <label asp-for="CheckRateDetails" class="form-check-label">Rate Details</label>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="CheckDenomsTally" class="form-check-input module-checkbox" type="checkbox" />
                    <label asp-for="CheckDenomsTally" class="form-check-label">Denom Tally</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row align-items-end gx-3 gy-2">
                    <div class="col-md-6 col-lg-3 col-xl-3">
                        <label asp-for="Branch" class="form-label">Branch Code</label>
                        <select asp-for="Branch" asp-items="@Model.BranchList" class="form-select"></select>
                    </div>
                    <div class="col-md-6 col-lg-3 col-xl-3">
                        <label asp-for="ServiceCode" class="form-label">Service Id</label>
                        <select asp-for="ServiceCode" asp-items="@Model.ServiceList" class="form-select"></select>
                    </div>
                    <div class="col-md-6 col-lg-3 col-xl-3">
                        <label asp-for="ModuleCode" class="form-label">Module ID</label>
                        <select asp-for="ModuleCode" asp-items="@Model.ModuleList" class="form-select"></select>
                    </div>
                    <div class="col-md-6 col-lg-3 col-xl-3">
                        <label asp-for="GLCode" class="form-label">GL Code</label>
                        <select asp-for="GLCode" asp-items="@Model.GLCodeList" class="form-select"></select>
                    </div>
                    <div class="col-md-6 col-lg-3 col-xl-3 d-none" id="categoryCodeList">
                        <label asp-for="CategoryCode" class="form-label">Category Code</label>
                        <select asp-for="CategoryCode" asp-items="@Model.CategoryList" class="form-select"></select>
                    </div>
                    <div class="col-md-4 col-lg-3 col-xl-3">
                        <label asp-for="AccountNumber" class="form-label">Account Number<span class="text-danger">*</span></label>
                        <div class="input-group">
                            <input asp-for="AccountNumber" type="text" class="form-control" />
                            <button class="btn btn-sm btn-primary" type="button" id="accountNumberSearch"><i class="bi bi-search"></i></button>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-4">
                        <label class="form-label">Name</label>
                        <div class="input-group">
                            <input asp-for="CustomerName" type="text" class="form-control" readonly />
                            <a href="Account-Details.html" target="_blank" class="btn btn-sm btn-primary"
                               type="button">D</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 col-xl-3">
                        <label asp-for="EffectiveDate" class="form-label">Effective Date</label>
                        <div class="input-group date" data-provide="datepicker">
                            <input asp-for="EffectiveDate" type="text" class="form-control">
                            <div class="input-group-addon input-group-text">
                                <img src="~/images/datepicker_icon.svg" width="24">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 col-xl-3">
                        <label asp-for="Amount" class="form-label">Amount <span class="text-danger">*</span></label>
                        <div class="input-group">
                            <input asp-for="Amount" type="text" class="form-control text-end" />
                            <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#TDSBackdrop">TDS</button>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-4">
                        <label asp-for="Narration" class="form-label">Narration</label>
                        <input asp-for="Narration" type="text" class="form-control" />
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2">
                        <button id="okBtn" class="btn btn-w-auto btn-primary">Ok</button>
                        <button id="clearBtn" class="btn btn-w-auto btn-primary">Clear</button>
                    </div>
                </div>
            </div>
            <div class="phot-sign">
                <div class="border rounded">
                    <div class="photo">
                        <img id="CustomerPhoto" class="img-fluid rounded-top" />
                    </div>
                    <div class="sign border-top">
                        <img id="CustomerSign" class="img-fluid rounded-bottom" />
                    </div>
                </div>
            </div>
        </div>
        <!--Cheque Details-->
        <div id="chequeDetails" class="d-none">
            <hr />
            <div class="row gx-3 gy-2">
                <div class="col-sm-6 col-md-3 col-xl-2">
                    <label class="form-label">Check Type</label>
                    <select class="form-select" readonly="">
                        <option selected="">Select</option>
                    </select>
                </div>
                <div class="col-sm-6 col-md-3 col-xl-2">
                    <label asp-for="ChequeNo" class="form-label">Cheque No</label>
                    <input asp-for="ChequeNo" type="text" class="form-control">
                </div>
                <div class="col-sm-6 col-md-3 col-xl-2">
                    <label asp-for="ChequeDate" class="form-label">Cheque Dt.</label>
                    <input asp-for="ChequeDate" type="date" class="form-control">
                </div>
                <div class="col-sm-6 col-md-3 col-xl-2">
                    <label asp-for="ChequeFavouring" class="form-label">Cheque Fav.</label>
                    <input asp-for="ChequeFavouring" type="text" class="form-control">
                </div>
            </div>
        </div>
        <hr />
        <!--Search Selections Details-->
        <div class="service-box mt-2" id="saving">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3  row-cols-lg-4 row-cols-xl-5 gx-3 gy-2">
                <div class="col d-none ClearBalance">
                    <label class="form-label">Clear Balance</label>
                    <div id="ClearBalance">0.00</div>
                </div>
                <div class="col d-none UnclearBalance">
                    <label class="form-label">Unclear Balance</label>
                    <div id="UnclearBalance">0.00</div>
                </div>
                <div class="col d-none AccountBalance">
                    <label class="form-label">Account Balance</label>
                    <div id="AccountBalance">0.00</div>
                </div>
                <div class="col d-none OperationInstruction">
                    <label class="form-label">Oper. Instr.</label>
                    <div id="OperationInstruction">--</div>
                </div>
                <div class="col d-none OperatedBy">
                    <label class="form-label">Oper. By</label>
                    <div id="OperatedBy">--</div>
                </div>
                <div class="col d-none PendingBalance">
                    <label class="form-label">Pending Balance</label>
                    <div id="PendingBalance">0.00</div>
                </div>
                <div class="col d-none CustomerId">
                    <label class="form-label">Customer Id</label>
                    <div id="CustomerId">--</div>
                </div>
                <div class="col d-none LimitAmount">
                    <label class="form-label">Limit Amount</label>
                    <div id="LimitAmount">0.00</div>
                </div>
                <div class="col d-none TotalCashDebited">
                    <label class="form-label">Total Cash Dr.</label>
                    <div id="TotalCashDebited">0.00</div>
                </div>
                <div class="col d-none TotalCashCredited">
                    <label class="form-label">Total Cash Cr.</label>
                    <div id="TotalCashCredited">0.00</div>
                </div>
                <div class="col d-none LimitExpiryDate">
                    <label class="form-label">Limit Exp. Dt.</label>
                    <div id="LimitExpiryDate">--</div>
                </div>
                <div class="col d-none GSTIN">
                    <label class="form-label">GSTIN</label>
                    <div id="GSTIN">--</div>
                </div>
                <div class="col d-none TODLimit">
                    <label class="form-label">TOD Limit</label>
                    <div id="TODLimit">0.00</div>
                </div>
                <div class="col d-none AvailableLimit">
                    <label class="form-label">Avail. Limit</label>
                    <div id="AvailableLimit">0.00</div>
                </div>
                <div class="col d-none PendingIntAmount">
                    <label class="form-label">Pend. Amount</label>
                    <div id="PendingIntAmount">0.00</div>
                </div>
                <div class="col d-none InterestAmount">
                    <label class="form-label">Int. Amount</label>
                    <div id="InterestAmount">0.00</div>
                </div>
                <div class="col d-none PendingInstallments">
                    <label class="form-label">Pend. Installments</label>
                    <div id="PendingInstallments">0</div>
                </div>
                <div class="col d-none SanctionAmount">
                    <label class="form-label">Sanc. Amount</label>
                    <div id="SanctionAmount">0.00</div>
                </div>
                <div class="col d-none DisbursementAmount">
                    <label class="form-label">Disb. Amount</label>
                    <div id="DisbursementAmount">0.00</div>
                </div>
                <div class="col d-none NPAIntAmount">
                    <label class="form-label">NPA Int. Amount</label>
                    <div id="NPAIntAmount">0.00</div>
                </div>
                <div class="col d-none RD_OpAmount">
                    <label class="form-label">Op. Amount</label>
                    <div id="RD_OpAmount">0.00</div>
                </div>
                <div class="col d-none RD_OpDate">
                    <label class="form-label">Op. Date</label>
                    <div id="RD_OpDate">--</div>
                </div>
                <div class="col d-none RD_ROI">
                    <label class="form-label">ROI</label>
                    <div id="RD_ROI">0.00</div>
                </div>
                <div class="col d-none RD_IntAccr">
                    <label class="form-label">Int. Accr.</label>
                    <div id="RD_IntAccr">0.00</div>
                </div>
                <div class="col d-none RD_IntPaidUpto">
                    <label class="form-label">Int. Paid Upto</label>
                    <div id="RD_IntPaidUpto">--</div>
                </div>
                <div class="col d-none RD_MaturityAmount">
                    <label class="form-label">Maturity Amount</label>
                    <div id="RD_MaturityAmount">0.00</div>
                </div>
                <div class="col d-none RD_MaturityDate">
                    <label class="form-label">Maturity Date</label>
                    <div id="RD_MaturityDate">--</div>
                </div>
                <div class="col d-none RD_EffectiveDate">
                    <label class="form-label">Effective Date</label>
                    <div id="RD_EffectiveDate">--</div>
                </div>
                <div class="col d-none RD_CurrAmount">
                    <label class="form-label">Curr. Amount</label>
                    <div id="RD_CurrAmount">0.00</div>
                </div>
            </div>
        </div>
        <!--Remittence Selections Details-->
        <div class="service-box d-none" id="rem">
            <div class="row align-items-end gx-3 gy-2">
                <div class="col-sm-6 col-lg-3 col-xl-2 d-none Remm_IssuedOnBank">
                    <label asp-for="REMBank" class="form-label">Issued on Bank</label>
                    <select asp-for="REMBank" asp-items="@Model.REMBankList" class="form-select"></select>
                </div>
                <div class="col-sm-6  col-lg-3 col-xl-2 d-none Remm_IssuedOnBranch">
                    <label asp-for="REMBranch" class="form-label">Issued on Branch</label>
                    <select asp-for="REMBranch" asp-items="@Model.REMBranchList" class="form-select"></select>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 d-none Remm_Favouring">
                    <label asp-for="REMFavouring" class="form-label">Favouring.</label>
                    <input asp-for="REMFavouring" type="text" class="form-control">
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 d-none Remm_Commission">
                    <label asp-for="REMCommission" class="form-label">Comm.</label>
                    <input asp-for="REMCommission" type="text" class="form-control">
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 d-none Remm_RecipientName">
                    <label asp-for="REMRecipientName" class="form-label">GL Code</label>
                    <select asp-for="REMRecipientName" asp-items="@Model.REMRecipientList" class="form-select"></select>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 d-none Remm_GST">
                    <label asp-for="REMGST" class="form-label">GST</label>
                    <input asp-for="REMGST" type="text" class="form-control">
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 d-none Remm_CESS">
                    <label asp-for="REMCESS" class="form-label">CESS</label>
                    <input asp-for="REMCESS" type="text" class="form-control">
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 d-none Remm_PAN">
                    <label asp-for="REMPAN" class="form-label">Pan No</label>
                    <input asp-for="REMPAN" type="text" class="form-control">
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 d-none Remm_Mobile">
                    <label asp-for="REMMobile" class="form-label">Mobile</label>
                    <input asp-for="REMMobile" type="text" class="form-control">
                </div>
                <div class="col-sm-6 col-md-8 col-lg-3 col-xl-2 d-none Remm_Address1">
                    <label asp-for="REMAddress1" class="form-label">Address1</label>
                    <input asp-for="REMAddress1" type="text" class="form-control">
                </div>
                <div class="col-sm-6  col-lg-3 col-xl-2 d-none Remm_Address2">
                    <label asp-for="REMAddress2" class="form-label">Addr.2</label>
                    <input asp-for="REMAddress2" type="text" class="form-control">
                </div>
                <div class="col-sm-6  col-lg-3 col-xl-2 d-none Remm_Address3">
                    <label asp-for="REMAddress3" class="form-label">Addr.3</label>
                    <input asp-for="REMAddress3" type="text" class="form-control">
                </div>
            </div>
        </div>
        <!--Batch Details-->
        <div class="table-responsive mt-3">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Batch No</th>
                        <th>Tran No</th>
                        <th>GL Code</th>
                        <th>GL Description</th>
                        <th>Acc No</th>
                        <th>Name</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 gx-3 gy-2">
            <div class="col d-none DebitTransactions">
                <label asp-for="DebitTransactions" class="form-label">Dr. Transactions</label>
                <div>--</div>
            </div>
            <div class="col d-none CreditTransactions">
                <label asp-for="CreditTransactions" class="form-label">Cr. Transactions</label>
                <div>--</div>
            </div>
            <div class="col d-none DebitTotal">
                <label asp-for="DebitTotal" class="form-label">Dr. Total</label>
                <div>0.00</div>
            </div>
            <div class="col d-none CreditTotal">
                <label asp-for="CreditTotal" class="form-label">Cr. Total</label>
                <div>0.00</div>
            </div>
            <div class="col d-none Difference">
                <label asp-for="Difference" class="form-label">Difference</label>
                <div>0.00</div>
            </div>
        </div>
        <hr class="my-3">
        <div class="text-center">
            <a href="#" target="_self" class="btn btn-primary mb-2">Post</a>
            <a href="#" target="_self" class="btn btn-primary mb-2">Modify</a>
            <a href="#" target="_self" class="btn btn-primary mb-2">Delete</a>
            <a href="#" target="_self" class="btn btn-primary mb-2">Cancel</a>
            <a href="#" target="_self" class="btn btn-primary mb-2">Exit</a>
        </div>
    </div>
</div>

<input type="hidden" asp-for="UserId" />
<input type="hidden" asp-for="ABBUser" />
<input type="hidden" asp-for="Hidden_BDT" />
<input type="hidden" asp-for="ApplicationDate" />
<input type="hidden" asp-for="CounterNo" />
<input type="hidden" asp-for="CashierId" />
<input type="hidden" asp-for="BranchCode" />
<input type="hidden" asp-for="BranchNarration" />
<input type="hidden" asp-for="CurrencyCode" />
<input type="hidden" asp-for="CurrencyNarration" />
<input type="hidden" asp-for="MachineId" />
<input type="hidden" asp-for="SelectedModule" />

<input type="hidden" asp-for="Hidden_194NCustomerId" />
<input type="hidden" asp-for="Hidden_Mode" />
<input type="hidden" asp-for="Hidden_SubMode" />
<input type="hidden" asp-for="Hidden_ChequeValidPeriod" />
<input type="hidden" asp-for="Hidden_ChequeLength" />
<input type="hidden" asp-for="Hidden_Precision" />
<input type="hidden" asp-for="Hidden_MaxAmount" />
<input type="hidden" asp-for="Hidden_TellerVerifyReqYN" />
<input type="hidden" asp-for="Hidden_RemCanAutoChrgsYN" />
<input type="hidden" asp-for="Hidden_RemCanCommYN" />

<input type="hidden" id="hdnblnCloseLoan" />
<input type="hidden" id="hdnCloseLoan" />

<!-- Customer List Modal -->
<div class="modal fade" id="GLCodeListPopup" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Customer List</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Account wise fields -->
                <div id="search_account" class="search-section">
                    <div class="row align-items-end gx-3 gy-2">
                        <div class="col-xl-4">
                            <label class="form-label">Search</label>
                            <select class="form-select" id="searchOptions"></select>
                        </div>
                        <div class="col-xl-8">
                            <input id="searchValue" type="text" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Ok</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- TDS Modal -->
<div class="modal fade" id="TDSBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="TDSBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">TDS Details</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Transaction For Financial Year 01-Apr-2025 and 31-Mar-2026 Panno AHMPG0690D and ITR E File Return N0
                <hr class="my-3" />
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>SNO</th>
                            <th>ACCNO</th>
                            <th>AMOUNT</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>101102020000000106</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>101102020000000107</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>101102020000000108</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>101102020000000109</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Ok</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script asp-append-version="true" src="~/js/app/transaction.js"></script>
