@using Banking.Models
@model Banking.Models.TransferTransactionModel
@{
    Layout = "_Layout";
}

<div class="card h-100">
    <div class="card-header">
        <h3 class="mb-0 section-title">Transfers</h3>
    </div>
    <div class="card-body pt-2">
        <div class="d-flex flex-wrap bg-light px-2 pt-2 mb-2 border rounded">
            <div class="me-3 fw-bold">
                @foreach (TransactionModes mode in Enum.GetValues(typeof(TransactionModes)))
                {
                    <div class="form-check form-check-inline" id="@mode">
                        <input asp-for="TransactionMode" type="radio" class="form-check-input module-checkbox" value="@mode" />
                        <label asp-for="TransactionMode" class="form-check-label">@mode</label>
                    </div>
                }
            </div>
            <div class="ms-auto">
                <div class="form-check form-check-inline">
                    <input asp-for="CheckABB" class="form-check-input module-checkbox" type="checkbox" />
                    <label asp-for="CheckABB" class="form-check-label">ABB</label>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="CheckCheque" class="form-check-input module-checkbox" type="checkbox">
                    <label asp-for="CheckCheque" class="form-check-label">Cheque</label>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="CheckLinkModule" class="form-check-input module-checkbox" type="checkbox" />
                    <label asp-for="CheckLinkModule" class="form-check-label">Link Module</label>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="CheckTransDetails" class="form-check-input module-checkbox" type="checkbox" />
                    <label asp-for="CheckTransDetails" class="form-check-label">Trans Details</label>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="CheckDenoms" class="form-check-input module-checkbox" type="checkbox" />
                    <label asp-for="CheckDenoms" class="form-check-label">Denoms</label>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="CheckRateDetails" class="form-check-input module-checkbox" type="checkbox" />
                    <label asp-for="CheckRateDetails" class="form-check-label">Rate Details</label>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="CheckDenomsTally" class="form-check-input module-checkbox" type="checkbox" />
                    <label asp-for="CheckDenomsTally" class="form-check-label">Denom Tally</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row align-items-end gx-3 gy-2">
                    <div class="col-md-6 col-lg-3 col-xl-3">
                        <label asp-for="Branch" class="form-label">Branch Code</label>
                        <select asp-for="Branch" asp-items="@Model.BranchList" class="form-select"></select>
                    </div>
                    <div class="col-md-6 col-lg-3 col-xl-3">
                        <label asp-for="ServiceCode" class="form-label">Service Id</label>
                        <select asp-for="ServiceCode" asp-items="@Model.ServiceList" class="form-select"></select>
                    </div>
                    <div class="col-md-6 col-lg-3 col-xl-3">
                        <label asp-for="ModuleCode" class="form-label">Module ID</label>
                        <select asp-for="ModuleCode" asp-items="@Model.ModuleList" class="form-select"></select>
                    </div>
                    <div class="col-md-6 col-lg-3 col-xl-3">
                        <label asp-for="GLCode" class="form-label">GL Code</label>
                        <select asp-for="GLCode" asp-items="@Model.GLCodeList" class="form-select"></select>
                    </div>
                    <div class="col-md-6 col-lg-3 col-xl-3 d-none" id="categoryCodeList">
                        <label asp-for="CategoryCode" class="form-label">Category Code</label>
                        <select asp-for="CategoryCode" asp-items="@Model.CategoryList" class="form-select"></select>
                    </div>
                    <div class="col-md-6 col-lg-3 col-xl-3">
                        <label asp-for="AccountNumber" class="form-label">Account Number<span class="text-danger">*</span></label>
                        <div class="input-group">
                            <input asp-for="AccountNumber" type="text" class="form-control" />
                            <button class="btn btn-sm btn-primary" type="button" id="accountNumberSearch"><i class="bi bi-search"></i></button>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 col-xl-3">
                        <label class="form-label">Name</label>
                        <div class="input-group">
                            <input asp-for="CustomerName" type="text" class="form-control" readonly />
                            <a href="Account-Details.html" target="_blank" class="btn btn-sm btn-primary" type="button">D</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 col-xl-3">
                        <label asp-for="EffectiveDate" class="form-label">Effective Date</label>
                        <div class="input-group date" data-provide="datepicker">
                            <input asp-for="EffectiveDate" type="text" class="form-control">
                            <div class="input-group-addon input-group-text">
                                <img src="~/images/datepicker_icon.svg" width="24">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 col-xl-3">
                        <label asp-for="Amount" class="form-label">Amount <span class="text-danger">*</span></label>
                        <div class="input-group">
                            <input asp-for="Amount" type="text" class="form-control text-end" />
                            <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#TDSBackdrop">TDS</button>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-4">
                        <label asp-for="Narration" class="form-label">Narration</label>
                        <input asp-for="Narration" type="text" class="form-control" />
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2">
                        <button id="okBtn" class="btn btn-w-auto btn-primary">Ok</button>
                        <button id="clearBtn" class="btn btn-w-auto btn-primary">Clear</button>
                    </div>
                </div>
            </div>
            <div class="phot-sign">
                <div class="border rounded">
                    <div class="photo">
                        <img id="CustomerPhoto" class="img-fluid rounded-top" />
                    </div>
                    <div class="sign border-top">
                        <img id="CustomerSign" class="img-fluid rounded-bottom" />
                    </div>
                </div>
            </div>
        </div>
        <!--Cheque Details-->
        <div id="chequeDetails" class="d-none">
            <hr />
            <div class="row gx-3 gy-2">
                <div class="col-sm-6 col-md-3 col-xl-2">
                    <label class="form-label">Check Type</label>
                    <select class="form-select" readonly="">
                        <option selected="">Select</option>
                    </select>
                </div>
                <div class="col-sm-6 col-md-3 col-xl-2">
                    <label asp-for="ChequeNo" class="form-label">Cheque No</label>
                    <input asp-for="ChequeNo" type="text" class="form-control">
                </div>
                <div class="col-sm-6 col-md-3 col-xl-2">
                    <label asp-for="ChequeDate" class="form-label">Cheque Dt.</label>
                    <input asp-for="ChequeDate" type="date" class="form-control">
                </div>
                <div class="col-sm-6 col-md-3 col-xl-2">
                    <label asp-for="ChequeFavouring" class="form-label">Cheque Fav.</label>
                    <input asp-for="ChequeFavouring" type="text" class="form-control">
                </div>
            </div>
        </div>
        <hr />
        <!--Search Selections Details-->
        <div class="service-box mt-2" id="saving">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3  row-cols-lg-4 row-cols-xl-5 gx-3 gy-2">
                <div class="col d-none ClearBalance">
                    <label class="form-label">Clear Balance</label>
                    <input asp-for="ClearBalance" class="form-control border-0 shadow-none ps-0" placeholder="0.00" readonly />
                </div>
                <div class="col d-none UnclearBalance">
                    <label class="form-label">Unclear Balance</label>
                    <input asp-for="UnclearBalance" class="form-control border-0 shadow-none ps-0" placeholder="0.00" readonly />
                </div>
                <div class="col d-none AccountBalance">
                    <label class="form-label">Account Balance</label>
                    <input asp-for="AccountBalance" class="form-control border-0 shadow-none ps-0" placeholder="0.00" readonly />
                </div>
                <div class="col d-none OperationInstruction">
                    <label class="form-label">Oper. Instr.</label>
                    <input asp-for="OperationInstruction" class="form-control border-0 shadow-none ps-0" placeholder="--" readonly />
                </div>
                <div class="col d-none OperatedBy">
                    <label class="form-label">Oper. By</label>
                    <input asp-for="OperatedBy" class="form-control border-0 shadow-none ps-0" placeholder="--" readonly />
                </div>
                <div class="col d-none PendingBalance">
                    <label class="form-label">Pending Balance</label>
                    <input asp-for="PendingBalance" class="form-control border-0 shadow-none ps-0" placeholder="0.00" readonly />
                </div>
                <div class="col d-none CustomerId">
                    <label class="form-label">Customer Id</label>
                    <input asp-for="CustomerId" class="form-control border-0 shadow-none ps-0" placeholder="--" readonly />
                </div>
                <div class="col d-none LimitAmount">
                    <label class="form-label">Limit Amount</label>
                    <input asp-for="LimitAmount" class="form-control border-0 shadow-none ps-0" placeholder="0.00" readonly />
                </div>
                <div class="col d-none TotalCashDebited">
                    <label class="form-label">Total Cash Dr.</label>
                    <input asp-for="TotalCashDebited" class="form-control border-0 shadow-none ps-0" placeholder="0.00" readonly />
                </div>
                <div class="col d-none TotalCashCredited">
                    <label class="form-label">Total Cash Cr.</label>
                    <input asp-for="TotalCashCredited" class="form-control border-0 shadow-none ps-0" placeholder="0.00" readonly />
                </div>
                <div class="col d-none LimitExpiryDate">
                    <label class="form-label">Limit Exp. Dt.</label>
                    <input asp-for="LimitExpiryDate" class="form-control border-0 shadow-none ps-0" placeholder="--" readonly />
                </div>
                <div class="col d-none GSTIN">
                    <label class="form-label">GSTIN</label>
                    <input asp-for="GSTIN" class="form-control border-0 shadow-none ps-0" placeholder="--" readonly />
                </div>
                <div class="col d-none TODLimit">
                    <label class="form-label">TOD Limit</label>
                    <input asp-for="TODLimit" class="form-control border-0 shadow-none ps-0" placeholder="0.00" readonly />
                </div>
                <div class="col d-none AvailableLimit">
                    <label class="form-label">Avail. Limit</label>
                    <input asp-for="AvailableLimit" class="form-control border-0 shadow-none ps-0" placeholder="0.00" readonly />
                </div>
                <div class="col d-none PendingIntAmount">
                    <label class="form-label">Pend. Amount</label>
                    <input asp-for="PendingIntAmount" class="form-control border-0 shadow-none ps-0" placeholder="0.00" readonly />
                </div>
                <div class="col d-none InterestAmount">
                    <label class="form-label">Int. Amount</label>
                    <input asp-for="InterestAmount" class="form-control border-0 shadow-none ps-0" placeholder="0.00" readonly />
                </div>
                <div class="col d-none PendingInstallments">
                    <label class="form-label">Pend. Installments</label>
                    <input asp-for="PendingInstallments" class="form-control border-0 shadow-none ps-0" placeholder="0" readonly />
                </div>
                <div class="col d-none SanctionAmount">
                    <label class="form-label">Sanc. Amount</label>
                    <input asp-for="SanctionAmount" class="form-control border-0 shadow-none ps-0" placeholder="0.00" readonly />
                </div>
                <div class="col d-none DisbursementAmount">
                    <label class="form-label">Disb. Amount</label>
                    <input asp-for="DisbursementAmount" class="form-control border-0 shadow-none ps-0" placeholder="0.00" readonly />
                </div>
                <div class="col d-none NPAIntAmount">
                    <label class="form-label">NPA Int. Amount</label>
                    <input asp-for="NPAIntAmount" class="form-control border-0 shadow-none ps-0" placeholder="0.00" readonly />
                </div>
                <div class="col d-none RD_OpAmount">
                    <label class="form-label">Op. Amount</label>
                    <input asp-for="RD_OpAmount" class="form-control border-0 shadow-none ps-0" placeholder="0.00" readonly />
                </div>
                <div class="col d-none RD_OpDate">
                    <label class="form-label">Op. Date</label>
                    <input asp-for="RD_OpDate" class="form-control border-0 shadow-none ps-0" placeholder="--" readonly />
                </div>
                <div class="col d-none RD_ROI">
                    <label class="form-label">ROI</label>
                    <input asp-for="RD_ROI" class="form-control border-0 shadow-none ps-0" placeholder="0.00" readonly />
                </div>
                <div class="col d-none RD_IntAccr">
                    <label class="form-label">Int. Accr.</label>
                    <input asp-for="RD_IntAccr" class="form-control border-0 shadow-none ps-0" placeholder="0.00" readonly />
                </div>
                <div class="col d-none RD_IntPaidUpto">
                    <label class="form-label">Int. Paid Upto</label>
                    <input asp-for="RD_IntPaidUpto" class="form-control border-0 shadow-none ps-0" placeholder="--" readonly />
                </div>
                <div class="col d-none RD_MaturityAmount">
                    <label class="form-label">Maturity Amount</label>
                    <input asp-for="RD_MaturityAmount" class="form-control border-0 shadow-none ps-0" placeholder="0.00" readonly />
                </div>
                <div class="col d-none RD_MaturityDate">
                    <label class="form-label">Maturity Date</label>
                    <input asp-for="RD_MaturityDate" class="form-control border-0 shadow-none ps-0" placeholder="--" readonly />
                </div>
                <div class="col d-none RD_EffectiveDate">
                    <label class="form-label">Effective Date</label>
                    <input asp-for="RD_EffectiveDate" class="form-control border-0 shadow-none ps-0" placeholder="--" readonly />
                </div>
                <div class="col d-none RD_CurrAmount">
                    <label class="form-label">Curr. Amount</label>
                    <input asp-for="RD_CurrAmount" class="form-control border-0 shadow-none ps-0" placeholder="0.00" readonly />
                </div>
            </div>
        </div>
        <!--Remittence Selections Details-->
        <div class="service-box">
            <div class="row align-items-end gx-3 gy-2">
                <div class="col-sm-6 col-lg-3 col-xl-2 d-none REMBank">
                    <label asp-for="REMBank" class="form-label">Issued on Bank</label>
                    <select asp-for="REMBank" asp-items="@Model.REMBankList" class="form-select"></select>
                </div>
                <div class="col-sm-6 col-lg-3 col-xl-2 d-none REMBranch">
                    <label asp-for="REMBranch" class="form-label">Issued on Branch</label>
                    <select asp-for="REMBranch" asp-items="@Model.REMBranchList" class="form-select"></select>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 d-none REMFavouring">
                    <label asp-for="REMFavouring" class="form-label">Favouring.</label>
                    <input asp-for="REMFavouring" type="text" class="form-control">
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 d-none REMCommission">
                    <label asp-for="REMCommission" class="form-label">Commission</label>
                    <input asp-for="REMCommission" type="text" class="form-control">
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 d-none REMRecipientName">
                    <label asp-for="REMRecipientName" class="form-label">GL Code</label>
                    <select asp-for="REMRecipientName" asp-items="@Model.REMRecipientList" class="form-select"></select>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 d-none REMGST">
                    <label asp-for="REMGST" class="form-label">GST</label>
                    <input asp-for="REMGST" type="text" class="form-control">
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 d-none REMCESS">
                    <label asp-for="REMCESS" class="form-label">CESS</label>
                    <input asp-for="REMCESS" type="text" class="form-control">
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 d-none REMPAN">
                    <label asp-for="REMPAN" class="form-label">PAN No</label>
                    <input asp-for="REMPAN" type="text" class="form-control">
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 d-none REMMobile">
                    <label asp-for="REMMobile" class="form-label">Mobile</label>
                    <input asp-for="REMMobile" type="text" class="form-control">
                </div>
                <div class="col-sm-6 col-md-8 col-lg-3 col-xl-2 d-none REMAddress1">
                    <label asp-for="REMAddress1" class="form-label">Address 1</label>
                    <input asp-for="REMAddress1" type="text" class="form-control">
                </div>
                <div class="col-sm-6  col-lg-3 col-xl-2 d-none REMAddress2">
                    <label asp-for="REMAddress2" class="form-label">Address 2</label>
                    <input asp-for="REMAddress2" type="text" class="form-control">
                </div>
                <div class="col-sm-6  col-lg-3 col-xl-2 d-none REMAddress3">
                    <label asp-for="REMAddress3" class="form-label">Address 3</label>
                    <input asp-for="REMAddress3" type="text" class="form-control">
                </div>
            </div>
        </div>
        <!--Batch Details-->
        <PARAM NAME="TransLog_FormatString" VALUE="Batch No||Tran No||GL Code||GL Description||Acc No||Amount||Entered Time Bal||Applicatin Date||Cust ID||Mode of Tran||Status||Currency Code||Entered By||Entered M/C||Approved By||Approved M/C||Module ID||Branch Code||Token No||Remarks|Disposals">

        <PARAM NAME="Disp_FormatString" VALUE="Disp Module ID||Module Description||Disp GL Code||GL Description||Disp Acc Type||Disp Acc No||Name||Amount||Disp Batch No||Disp Tran No||Link No||Disp Service ID||Service Description||Mode of Tran||Effective Date||Remarks||Tran Status||Branch Code||Currency Code||Module ID||Module Description||GL Code||GL Description||Account Type||Acc No||Customer ID||Name||Service ID||Transaction Type||Remittance Type||Cheque Series||Cheque No.||Cheque Date||Favouring||Modify||From Date||To Date">

        <PARAM NAME="PayDt_FormatString" VALUE=">Batch No||Tran No||GL Code||GL Description||Acc No||Name||Amount||Entered Time Bal||Application Date||Cust ID||Mode of Tran||Mode of Tran Desc||ABB Application Date||Tran Status||Currency Code||Entered By||Entered M/C||Module ID||Branch Code||Token No||Remarks||Cheque Series||Cheque No||Cheque Date||Cheque Favouring||Sys Gen YN||Module Description||Effective Date||CLG Rate Type||Rate||F Currency Code||F Amount||Link Module ID||Link Module Desc||Link GL Code||Link GL Desc||Link Account Type||Link Account No||Link Acc Name||Service ID||Service Desc||Resp Branch Code||Resp Branch Desc||Resp Section Code||Resp Section Desc||ABB Branch Code||Branch Desc||Disposal Batch No||Disposal Tran No||Acc Chk YN||Exception YN||Exception Codes||Resp Bank Code||Resp Bank Desc||SI YN||Counter No.||Cashier Id||Scroll No.||Rate Ref Code||Rate Ref Desc||ABB YN">

        <div class="table-responsive mt-3">
            <table id="transferTransactionTable" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Batch No</th>
                        <th>Tran No</th>
                        <th>GL Code</th>
                        <th>GL Description</th>
                        <th>Acc No</th>
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Entered Time Bal</th>
                        <th>Application Date</th>
                        <th>Cust ID</th>
                        <th>Mode of Tran</th>
                        <th>Mode of Tran Desc</th>
                        <th>ABB Application Date</th>
                        <th>Tran Status</th>
                        <th>Currency Code</th>
                        <th>Entered By</th>
                        <th>Entered M/C</th>
                        <th>Module ID</th>
                        <th>Branch Code</th>
                        <th>Token No</th>
                        <th>Remarks</th>
                        <th>Cheque Series</th>
                        <th>Cheque No</th>
                        <th>Cheque Date</th>
                        <th>Cheque Favouring</th>
                        <th>Sys Gen YN</th>
                        <th>Module Description</th>
                        <th>Effective Date</th>
                        <th>CLG Rate Type</th>
                        <th>Rate</th>
                        <th>F Currency Code</th>
                        <th>F Amount</th>
                        <th>Link Module ID</th>
                        <th>Link Module Desc</th>
                        <th>Link GL Code</th>
                        <th>Link GL Desc</th>
                        <th>Link Account Type</th>
                        <th>Link Account No</th>
                        <th>Link Acc Name</th>
                        <th>Service ID</th>
                        <th>Service Desc</th>
                        <th>Resp Branch Code</th>
                        <th>Resp Branch Desc</th>
                        <th>Resp Section Code</th>
                        <th>Resp Section Desc</th>
                        <th>ABB Branch Code</th>
                        <th>Branch Desc</th>
                        <th>Disposal Batch No</th>
                        <th>Disposal Tran No</th>
                        <th>Acc Chk YN</th>
                        <th>Exception YN</th>
                        <th>Exception Codes</th>
                        <th>Resp Bank Code</th>
                        <th>Resp Bank Desc</th>
                        <th>SI YN</th>
                        <th>Counter No.</th>
                        <th>Cashier Id</th>
                        <th>Scroll No.</th>
                        <th>Rate Ref Code</th>
                        <th>Rate Ref Desc</th>
                        <th>ABB YN</th>

                        @* <th>Issued by Branch Code</th>
                        <th>Issued by Branch Desc</th>
                        <th>Favouring</th>
                        <th>Instrument No</th>
                        <th>Advice Recceived</th>
                        <th>Advice No.</th>
                        <th>Advice Rec Date</th>
                        <th>Instrument Date</th>
                        <th>Instrument Type</th>
                        <th>Native Y/N</th> *@
                    </tr>
                </thead>
            </table>
        </div>
        <hr />
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 gx-3 gy-2">
            <div class="col DebitTransactions">
                <label asp-for="DebitTransactions" class="form-label">Dr. Transactions</label>
                <input asp-for="DebitTransactions" class="form-control border-0 shadow-none ps-0" placeholder="0" readonly />
            </div>
            <div class="col CreditTransactions">
                <label asp-for="CreditTransactions" class="form-label">Cr. Transactions</label>
                <input asp-for="CreditTransactions" class="form-control border-0 shadow-none ps-0" placeholder="0" readonly />
            </div>
            <div class="col DebitTotal">
                <label asp-for="DebitTotal" class="form-label">Dr. Total</label>
                <input asp-for="DebitTotal" class="form-control border-0 shadow-none ps-0" placeholder="0.00" readonly />
            </div>
            <div class="col CreditTotal">
                <label asp-for="CreditTotal" class="form-label">Cr. Total</label>
                <input asp-for="CreditTotal" class="form-control border-0 shadow-none ps-0" placeholder="0.00" readonly />
            </div>
            <div class="col Difference">
                <label asp-for="Difference" class="form-label">Difference</label>
                <input asp-for="Difference" class="form-control border-0 shadow-none ps-0" placeholder="0.00" readonly />
            </div>
        </div>
        <hr class="my-3">
        <div class="text-center">
            <a href="#" target="_self" class="btn btn-primary mb-2">Post</a>
            <a href="#" target="_self" class="btn btn-primary mb-2">Modify</a>
            <a href="#" target="_self" class="btn btn-primary mb-2">Delete</a>
            <a href="#" target="_self" class="btn btn-primary mb-2">Cancel</a>
            <a href="#" target="_self" class="btn btn-primary mb-2">Exit</a>
        </div>
    </div>
</div>

<input type="hidden" asp-for="UserId" />
<input type="hidden" asp-for="ABBUser" />
<input type="hidden" asp-for="Hidden_BDT" />
<input type="hidden" asp-for="ApplicationDate" />
<input type="hidden" asp-for="CounterNo" />
<input type="hidden" asp-for="CashierId" />
<input type="hidden" asp-for="BranchCode" />
<input type="hidden" asp-for="BranchNarration" />
<input type="hidden" asp-for="CurrencyCode" />
<input type="hidden" asp-for="CurrencyNarration" />
<input type="hidden" asp-for="MachineId" />
<input type="hidden" asp-for="SelectedModule" />

<input type="hidden" asp-for="Hidden_194NCustomerId" />
<input type="hidden" asp-for="Hidden_Mode" />
<input type="hidden" asp-for="Hidden_SubMode" />
<input type="hidden" asp-for="Hidden_ChequeValidPeriod" />
<input type="hidden" asp-for="Hidden_ChequeLength" />
<input type="hidden" asp-for="Hidden_Precision" />
<input type="hidden" asp-for="Hidden_MaxAmount" />
<input type="hidden" asp-for="Hidden_TellerVerifyReqYN" />
<input type="hidden" asp-for="Hidden_RemCanAutoChrgsYN" />
<input type="hidden" asp-for="Hidden_RemCanCommYN" />
<input type="hidden" asp-for="Hidden_194NYN" />
<input type="hidden" asp-for="Hidden_OlimpYN" />
<input type="hidden" asp-for="Hidden_CheckThresholdLimit" />
<input type="hidden" asp-for="Hidden_Title" />

<input type="hidden" asp-for="Overdraft" />
<input type="hidden" asp-for="VTotalAmount" />
<input type="hidden" asp-for="VTotalAmount" />
<input type="hidden" asp-for="ImpYnWek" />
<input type="hidden" asp-for="ImpYnDay" />
<input type="hidden" asp-for="WekLmt" />
<input type="hidden" asp-for="ImpClgYN" />
<input type="hidden" asp-for="SRGTP" />
<input type="hidden" asp-for="SRPOS" />

<input type="hidden" id="hidCCDrYN" />
<input type="hidden" id="hidCCDrAmt" />
<input type="hidden" id="hidCCCrYN" />
<input type="hidden" id="hidCCCrAmt" />
<input type="hidden" id="hidSCR" />

<input type="hidden" id="hdnblnCloseLoan" />
<input type="hidden" id="hdnCloseLoan" />
<input type="hidden" id="hdnCheck194N" />
<input type="hidden" id="hdn194NFinalTDS" />
<input type="hidden" id="hdnThresLimitCRS" />
<input type="hidden" id="hdnSBCAAccClose" />

<!-- Customer List Modal -->
<div class="modal fade" id="GLCodeListPopup" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Customer List</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Account wise fields -->
                <div id="search_account" class="search-section">
                    <div class="row align-items-end gx-3 gy-2">
                        <div class="col-xl-4">
                            <label class="form-label">Search</label>
                            <select class="form-select" id="searchOptions"></select>
                        </div>
                        <div class="col-xl-8">
                            <input id="searchValue" type="text" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Ok</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- TDS Modal -->
<div class="modal fade" id="TDSBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="TDSBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">TDS Details</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Transaction For Financial Year 01-Apr-2025 and 31-Mar-2026 Panno AHMPG0690D and ITR E File Return N0
                <hr class="my-3" />
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>SNO</th>
                            <th>ACCNO</th>
                            <th>AMOUNT</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>101102020000000106</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>101102020000000107</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>101102020000000108</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>101102020000000109</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Ok</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script asp-append-version="true" src="~/js/app/transaction.js"></script>
