@using Banking.Models
@model Banking.Models.TransferTransactionModel
@{
    Layout = "_Layout";
}

<div class="card h-100">
    <div class="card-header">
        <h3 class="mb-0 section-title">Transfers</h3>
    </div>
    <div class="card-body">
        <!--Radio / Check Box Selections Details-->
        <div class="d-flex flex-wrap bg-body-tertiary p-2 mb-3 border rounded">
            <div class="me-3 fw-bold">
                @foreach (TransactionModes mode in Enum.GetValues(typeof(TransactionModes)))
                {
                    <div class="form-check form-check-inline" id="@mode">
                        <input type="radio" asp-for="TransactionMode" class="form-check-input module-checkbox" value="@mode" />
                        <label class="form-check-label">@mode</label>
                    </div>
                }
            </div>
            <div class="ms-auto">
                <div class="form-check form-check-inline">
                    <input asp-for="CheckABB" class="form-check-input module-checkbox" type="checkbox">
                    <label asp-for="CheckABB" class="form-check-label">ABB</label>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="CheckCheque" class="form-check-input module-checkbox" type="checkbox">
                    <label asp-for="CheckCheque" class="form-check-label">Cheque</label>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="CheckLinkModule" class="form-check-input module-checkbox" type="checkbox">
                    <label asp-for="CheckLinkModule" class="form-check-label">Link Module</label>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="CheckTransDetails" class="form-check-input module-checkbox" type="checkbox">
                    <label asp-for="CheckTransDetails" class="form-check-label">Trans Dts</label>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="CheckDenoms" class="form-check-input module-checkbox" type="checkbox">
                    <label asp-for="CheckDenoms" class="form-check-label">Denoms</label>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="CheckRateDetails" class="form-check-input module-checkbox" type="checkbox">
                    <label asp-for="CheckRateDetails" class="form-check-label">Rate Dtls</label>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="CheckDenomsTally" class="form-check-input module-checkbox" type="checkbox">
                    <label asp-for="CheckDenomsTally" class="form-check-label">Denom Tally</label>
                </div>
            </div>
        </div>
        <!--Search Selections-->
        <div class="row">
            <div class="col">
                <div class="row align-items-end g-3">
                    <div class="col-lg-5 col-xl-3">
                        <label asp-for="Branch" class="form-label">Branch Code</label>
                        <select asp-for="Branch" asp-items="@Model.BranchList" class="form-select"></select>
                    </div>
                    <div class="col-lg-7 col-xl-4">
                        <label asp-for="AccountNumber" class="form-label">Account Number<span class="text-danger">*</span></label>
                        <div class="input-group">
                            <input asp-for="AccountNumber" type="text" class="form-control" value="101-102020-0000123" maxlength="16">
                            <button class="btn btn-primary" type="button" id="accountNumberSearch">Search</button>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-5">
                        <input asp-for="CustomerName" type="text" class="form-control" readonly>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <label asp-for="ServiceCode" class="form-label">Service Id</label>
                        <select class="form-select" readonly>
                            <option selected="">Transaction - 1</option>
                        </select>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <label asp-for="Module" class="form-label">Module ID</label>
                        <select class="form-select" id="serviceSelect">
                            <option value="saving">Saving Bank - SB</option>
                            <option value="loan">Loans</option>
                            <option value="rem">Remittence - REM</option>
                        </select>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <label asp-for="AccountType" class="form-label">Acc. Type</label>
                        <input asp-for="AccountType" type="text" class="form-control" readonly>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <label asp-for="EffectiveDate" class="form-label">Eff.Date</label>
                        <input asp-for="EffectiveDate" type="date" class="form-control">
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <label asp-for="Amount" class="form-label">Amount <span class="text-danger">*</span></label>
                        <input asp-for="Amount" type="text" class="form-control text-end" value="0.00">
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <button type="button" class="btn btn-primary mb-2 mb-sm-0" data-bs-toggle="modal"
                                data-bs-target="#TDSBackdrop">
                            TDS
                        </button>
                        <button type="button" class="btn btn-primary mb-2 mb-sm-0" data-bs-toggle="modal"
                                data-bs-target="#AccDetBackdrop">
                            AccDet
                        </button>
                    </div>
                    <div class="col-lg-4 col-xl-6">
                        <label asp-for="Narration" class="form-label">Narration</label>
                        <input asp-for="Narration" type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="phot-sign">
                <div class="border rounded">
                    <div class="photo">
                        <img src="~/images/placeholder-img.jpg" class="img-fluid rounded-top" />
                    </div>
                    <div class="sign border-top">
                        <img src="~/images/placeholder-sign.jpg" class="img-fluid rounded-bottom" />
                    </div>
                </div>
            </div>
        </div>
@*         <!-- Display Details-->
        @Html.RenderPartialAsync("Display", Model)

        <!-- Remittence Details -->
        @Html.RenderPartialAsync("Remmitance", Model)

        <!-- Recurring Deposit -->
        @Html.RenderPartialAsync("Recurring", Model) *@

        <!--Cheque Details-->
        <div id="cheque" class="card d-none mt-3">
            <div class="card-body">
                <p class="card-title fw-bold">
                    <h5>Cheque Details</h5>
                    <div class="row g-3">
                        <div class="col-sm-6 col-md-3">
                            <label class="form-label">Cheque Type</label>
                            <select class="form-select" readonly="">
                                <option selected="">Select</option>
                            </select>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <label asp-for="ChequeNo" class="form-label">Cheque No</label>
                            <input asp-for="ChequeNo" type="text" class="form-control">
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <label asp-for="ChequeDate" class="form-label">Cheque Dt.</label>
                            <input asp-for="ChequeDate" type="date" class="form-control">
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <label asp-for="ChequeFavouring" class="form-label">Cheque Fav.</label>
                            <input asp-for="ChequeFavouring" type="text" class="form-control">
                        </div>
                    </div>
            </div>
        </div>
        <div class="pt-3 text-center">
            <a href="#" target="_self" class="btn btn-primary mb-2">Ok</a>
            <a href="#" target="_self" class="btn btn-primary mb-2">Clear</a>
        </div>
        <!--Batch Details-->
        <div class="card mt-2">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Batch No</th>
                                <th>Tran No</th>
                                <th>GL Code</th>
                                <th>GL Description</th>
                                <th>Acc No</th>
                                <th>Name</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row align-items-end justify-content-md-center g-3">
                    <div class="col-sm-6 col-md-3 col-lg-2">
                        <label asp-for="DebitTransactions" class="form-label">Dr. Transactions</label>
                        <input asp-for="DebitTransactions" type="text" class="form-control text-danger text-end" readonly>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-2">
                        <label asp-for="CreditTransactions" class="form-label">Cr. Transactions</label>
                        <input asp-for="CreditTransactions" type="text" class="form-control text-end" readonly>
                    </div>
                    <div class="col-md-3 col-lg-4">
                        <label asp-for="Total" class="form-label">Total</label>
                        <div class="d-flex align-items-center">
                            <div class="flex-grow-1 me-1">
                                <input asp-for="Total" type="text" class="form-control text-end" readonly>
                            </div>
                            <div class="flex-grow-1 ms-1">
                                <input asp-for="Total" type="text" class="form-control text-end" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-2">
                        <label asp-for="Difference" class="form-label">Difference</label>
                        <input asp-for="Difference" type="text" class="form-control text-end" readonly>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center pt-4">
            <a href="#" target="_self" class="btn btn-primary mb-2">Post</a>
            <a href="#" target="_self" class="btn btn-primary mb-2">Modify</a>
            <a href="#" target="_self" class="btn btn-primary mb-2">Delete</a>
            <a href="#" target="_self" class="btn btn-primary mb-2">Cancel</a>
            <a href="#" target="_self" class="btn btn-primary mb-2">Exit</a>
        </div>
    </div>
</div>

<input type="hidden" asp-for="UserId" />
<input type="hidden" asp-for="ABBUser" />
<input type="hidden" asp-for="Hidden_BDT" />
<input type="hidden" asp-for="ApplicationDate" />
<input type="hidden" asp-for="CounterNo" />
<input type="hidden" asp-for="CashierId" />
<input type="hidden" asp-for="BranchCode" />
<input type="hidden" asp-for="BranchNarration" />
<input type="hidden" asp-for="CurrencyCode" />
<input type="hidden" asp-for="CurrencyNarration" />
<input type="hidden" asp-for="MachineId" />

<script asp-append-version="true" src="~/js/app/transaction.js"></script>
