@using Banking.Models
@model Banking.Models.TransferTransactionModel
@{
    Layout = "_Layout";
}

<div class="card h-100">
    <div class="card-header">
        <h3 class="mb-0 section-title">Transfers</h3>
    </div>
    <div class="card-body pt-2">
        <div class="d-flex flex-wrap bg-light px-2 pt-2 mb-2 border rounded">
            <div class="me-3 fw-bold">
                @foreach (TransactionModes mode in Enum.GetValues(typeof(TransactionModes)))
                {
                    <div class="form-check form-check-inline" id="@mode">
                        <input asp-for="TransactionMode" type="radio" class="form-check-input module-checkbox" value="@mode" />
                        <label asp-for="TransactionMode" class="form-check-label">@mode</label>
                    </div>
                }
            </div>
            <div class="ms-auto">
                <div class="form-check form-check-inline">
                    <input asp-for="CheckABB" class="form-check-input module-checkbox" type="checkbox" />
                    <label asp-for="CheckABB" class="form-check-label">ABB</label>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="CheckCheque" class="form-check-input module-checkbox" type="checkbox">
                    <label asp-for="CheckCheque" class="form-check-label">Cheque</label>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="CheckLinkModule" class="form-check-input module-checkbox" type="checkbox" />
                    <label asp-for="CheckLinkModule" class="form-check-label">Link Module</label>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="CheckTransDetails" class="form-check-input module-checkbox" type="checkbox" />
                    <label asp-for="CheckTransDetails" class="form-check-label">Trans Details</label>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="CheckDenoms" class="form-check-input module-checkbox" type="checkbox" />
                    <label asp-for="CheckDenoms" class="form-check-label">Denoms</label>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="CheckRateDetails" class="form-check-input module-checkbox" type="checkbox" />
                    <label asp-for="CheckRateDetails" class="form-check-label">Rate Details</label>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="CheckDenomsTally" class="form-check-input module-checkbox" type="checkbox" />
                    <label asp-for="CheckDenomsTally" class="form-check-label">Denom Tally</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row align-items-end gx-3 gy-2">
                    <div class="col-md-6 col-lg-3 col-xl-3">
                        <label asp-for="Branch" class="form-label">Branch Code</label>
                        <select asp-for="Branch" asp-items="@Model.BranchList" class="form-select"></select>
                    </div>
                    <div class="col-md-6 col-lg-3 col-xl-3">
                        <label asp-for="ServiceCode" class="form-label">Service Id</label>
                        <select asp-for="ServiceCode" asp-items="@Model.ServiceList" class="form-select"></select>
                    </div>
                    <div class="col-md-6 col-lg-3 col-xl-3">
                        <label asp-for="ModuleCode" class="form-label">Module ID</label>
                        <select asp-for="ModuleCode" asp-items="@Model.ModuleList" class="form-select"></select>
                    </div>
                    <div class="col-md-6 col-lg-3 col-xl-3">
                        <label asp-for="GLCode" class="form-label">GL Code</label>
                        <select asp-for="GLCode" asp-items="@Model.GLCodeList" class="form-select"></select>
                    </div>
                    <div class="col-md-4 col-lg-3 col-xl-3">
                        <label asp-for="AccountNumber" class="form-label">Account Number<span class="text-danger">*</span></label>
                        <div class="input-group">
                            <input asp-for="AccountNumber" type="text" class="form-control" />
                            <button class="btn btn-sm btn-primary" type="button" id="accountNumberSearch"><i class="bi bi-search"></i></button>
                        </div>
                    </div>
                    <div class="col-md-8 col-lg-6 col-xl-6">
                        <label class="form-label">Name</label>
                        <div class="input-group">
                            <input asp-for="CustomerName" type="text" class="form-control" readonly />
                            <a href="Account-Details.html" target="_blank" class="btn btn-sm btn-primary"
                               type="button">D</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 col-xl-3">
                        <label asp-for="EffectiveDate" class="form-label">Effective Date</label>
                        <div class="input-group date" data-provide="datepicker">
                            <input asp-for="EffectiveDate" type="text" class="form-control">
                            <div class="input-group-addon input-group-text">
                                <img src="~/images/datepicker_icon.svg" width="24">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 col-xl-3">
                        <label asp-for="Amount" class="form-label">Amount <span class="text-danger">*</span></label>
                        <div class="input-group">
                            <input asp-for="Amount" type="text" class="form-control text-end" />
                            <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#TDSBackdrop">TDS</button>
                        </div>
                    </div>
                    <div class="col-md-8 col-lg-6 col-xl-6">
                        <label asp-for="Narration" class="form-label">Narration</label>
                        <input asp-for="Narration" type="text" class="form-control" />
                    </div>
                    <div class="col-md-4 col-lg-3 col-xl-3">
                        <a href="#" target="_self" class="btn btn-w-auto btn-primary">Ok</a>
                        <a href="#" target="_self" class="btn btn-w-auto btn-primary">Clear</a>
                    </div>
                </div>
            </div>
            <div class="phot-sign">
                <div class="border rounded">
                    <div class="photo">
                        <img src="~/images/placeholder-img.jpg" class="img-fluid rounded-top" />
                    </div>
                    <div class="sign border-top">
                        <img src="~/images/placeholder-sign.jpg" class="img-fluid rounded-bottom" />
                    </div>
                </div>
            </div>
        </div>
        <!--Cheque Details-->
        <div id="cheque" class="d-none">
            <hr />
            <div class="row gx-3 gy-2">
                <div class="col-sm-6 col-md-3 col-xl-2">
                    <label class="form-label">Check Type</label>
                    <select class="form-select" readonly="">
                        <option selected="">Select</option>
                    </select>
                </div>
                <div class="col-sm-6 col-md-3 col-xl-2">
                    <label asp-for="ChequeNo" class="form-label">Cheque No</label>
                    <input asp-for="ChequeNo" type="text" class="form-control">
                </div>
                <div class="col-sm-6 col-md-3 col-xl-2">
                    <label asp-for="ChequeDate" class="form-label">Cheque Dt.</label>
                    <input asp-for="ChequeDate" type="date" class="form-control">
                </div>
                <div class="col-sm-6 col-md-3 col-xl-2">
                    <label asp-for="ChequeFavouring" class="form-label">Cheque Fav.</label>
                    <input asp-for="ChequeFavouring" type="text" class="form-control">
                </div>
            </div>
        </div>
        <hr />
        <!--Search Selections Details-->
        <div class="service-box mt-2" id="saving">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3  row-cols-lg-4 row-cols-xl-5 gx-3 gy-2">
                <div class="col">
                    <label class="form-label">Clear Bal</label>
                    <div>9173.09</div>
                </div>
                <div class="col">
                    <label class="form-label">Unclear Bal</label>
                    <div>9173.09</div>
                </div>
                <div class="col">
                    <label class="form-label">Acc Bal</label>
                    <div>9173.09</div>
                </div>
                <div class="col">
                    <label class="form-label">Oper. Instr</label>
                    <div>Self</div>
                </div>
                <div class="col">
                    <label class="form-label">Oper. by</label>
                    <div>Manthena Muralikrishna</div>
                </div>
                <div class="col">
                    <label class="form-label">Pend Bal.</label>
                    <div>0.00</div>
                </div>
                <div class="col">
                    <label class="form-label">Customer Id</label>
                    <div>1010003770</div>
                </div>
                <div class="col">
                    <label class="form-label">Limit Amt.</label>
                    <div></div>
                </div>
                <div class="col">
                    <label class="form-label">TotCashDr</label>
                    <div>165000.00</div>
                </div>
                <div class="col">
                    <label class="form-label">TotCashCr</label>
                    <div>850000.00</div>
                </div>
                <div class="col">
                    <label class="form-label">LmtExpDt</label>
                    <div></div>
                </div>
                <div class="col">
                    <label class="form-label">GSTIN</label>
                    <div></div>
                </div>
            </div>
        </div>
        <!--Loans Selections Details-->
        <div class="service-box d-none mt-2" id="loan">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3  row-cols-lg-4 row-cols-xl-5 gx-3 gy-2">
                <div class="col">
                    <label class="form-label">Sanction Amt.</label>
                    <div>68000.00</div>
                </div>
                <div class="col">
                    <label class="form-label">Acc Bal</label>
                    <div>-79982.09</div>
                </div>
                <div class="col">
                    <label class="form-label">Disbursed Amt</label>
                    <div>68000.00</div>
                </div>
                <div class="col">
                    <label class="form-label">Clear Bal</label>
                    <div>9173.09</div>
                </div>
                <div class="col">
                    <label class="form-label">Unclear Bal</label>
                    <div>0.00</div>
                </div>
                <div class="col">
                    <label class="form-label">Available</label>
                    <div>0.00</div>
                </div>
                <div class="col">
                    <label class="form-label">Oper. by</label>
                    <div>Manthena Muralikrishna</div>
                </div>
                <div class="col">
                    <label class="form-label">Pend Bal.</label>
                    <div>0.00</div>
                </div>
                <div class="col">
                    <label class="form-label">Customer Id</label>
                    <div>1010003770</div>
                </div>
                <div class="col">
                    <label class="form-label">Pend Int Amt.</label>
                    <div></div>
                </div>
                <div class="col">
                    <label class="form-label">Inst Amt</label>
                    <div>5962.00</div>
                </div>
                <div class="col">
                    <label class="form-label">NoOfPndlns</label>
                    <div>13</div>
                </div>
                <div class="col">
                    <label class="form-label">NPA Int Amt</label>
                    <div></div>
                </div>
            </div>
            <hr>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3  row-cols-lg-4 row-cols-xl-5 gx-3 gy-2">
                <div class="col">
                    <label class="form-label">Int Pending</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col">
                    <label class="form-label">Int Amt</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col">
                    <label class="form-label">Chrg Pending</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col">
                    <label class="form-label">Chrg Amt</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col">
                    <label class="form-label">Insur Pending</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col">
                    <label class="form-label">Insur Amt</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col">
                    <label class="form-label">NPA Pending</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col">
                    <label class="form-label">NPA Amt</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col">
                    <label class="form-label">PrincPending</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col">
                    <label class="form-label">PrincAmt</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col">
                    <label class="form-label">Reserve</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col">
                    <label class="form-label">Exc Amt</label>
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
        <!--Remittence Selections Details-->
        <div class="service-box d-none" id="rem">
            <div class="row align-items-end gx-3 gy-2">
                <div class="col-sm-6  col-lg-3 col-xl-2">
                    <label class="form-label">Issued on Bank</label>
                    <select class="form-select">
                        <option selected="">101 - The Maharaja Coop</option>
                    </select>
                </div>
                <div class="col-sm-6  col-lg-3 col-xl-2">
                    <label for="Cust-Type" class="form-label">Issued on Branch</label>
                    <select class="form-select">
                        <option selected="">101 - Dwarakanagar</option>
                    </select>
                </div>
                <div class="col-sm-6 col-md-4  col-lg-3 col-xl-2">
                    <label class="form-label">Favouring.</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-sm-6 col-md-4  col-lg-3 col-xl-2">
                    <label class="form-label">Comm.</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-sm-6 col-md-4  col-lg-3 col-xl-2">
                    <label class="form-label">Rec. Nam</label>
                    <select class="form-select">
                        <option selected="">Select</option>
                    </select>
                </div>
                <div class="col-sm-6 col-md-4  col-lg-3 col-xl-2">
                    <label class="form-label">GST</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-sm-6 col-md-4  col-lg-3 col-xl-2">
                    <label class="form-label">CESS</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-sm-6 col-md-4  col-lg-3 col-xl-2">
                    <label class="form-label">Pan No</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-sm-6 col-md-4  col-lg-3 col-xl-2">
                    <label class="form-label">Mobile</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-sm-6 col-md-8  col-lg-3 col-xl-2">
                    <label class="form-label">Address1</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-sm-6  col-lg-3 col-xl-2">
                    <label class="form-label">Addr.2</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-sm-6  col-lg-3 col-xl-2">
                    <label class="form-label">Addr.3</label>
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
        <!--Batch Details-->
        <div class="table-responsive mt-3">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Batch No</th>
                        <th>Tran No</th>
                        <th>GL Code</th>
                        <th>GL Description</th>
                        <th>Acc No</th>
                        <th>Name</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 gx-3 gy-2">
            <div class="col">
                <label asp-for="DebitTransactions" class="form-label">Dr. Transactions</label>
                <div class="text-danger">@Model.DebitTransactions</div>
            </div>
            <div class="col">
                <label asp-for="CreditTransactions" class="form-label">Cr. Transactions</label>
                <div>@Model.CreditTransactions</div>
            </div>
            <div class="col">
                <label asp-for="DebitTotal" class="form-label">Dr. Total</label>
                <div>@Model.DebitTransactions</div>
            </div>
            <div class="col">
                <label asp-for="CreditTotal" class="form-label">Cr. Total</label>
                <div>@Model.CreditTransactions</div>
            </div>
            <div class="col">
                <label asp-for="Difference" class="form-label">Difference</label>
                <div>@Model.Difference</div>
            </div>
        </div>
        <hr class="my-3">
        <div class="text-center">
            <a href="#" target="_self" class="btn btn-primary mb-2">Post</a>
            <a href="#" target="_self" class="btn btn-primary mb-2">Modify</a>
            <a href="#" target="_self" class="btn btn-primary mb-2">Delete</a>
            <a href="#" target="_self" class="btn btn-primary mb-2">Cancel</a>
            <a href="#" target="_self" class="btn btn-primary mb-2">Exit</a>
        </div>
    </div>
</div>


<input type="hidden" asp-for="UserId" />
<input type="hidden" asp-for="ABBUser" />
<input type="hidden" asp-for="Hidden_BDT" />
<input type="hidden" asp-for="ApplicationDate" />
<input type="hidden" asp-for="CounterNo" />
<input type="hidden" asp-for="CashierId" />
<input type="hidden" asp-for="BranchCode" />
<input type="hidden" asp-for="BranchNarration" />
<input type="hidden" asp-for="CurrencyCode" />
<input type="hidden" asp-for="CurrencyNarration" />
<input type="hidden" asp-for="MachineId" />

<input type="hidden" asp-for="Hidden_194NCustomerId" />

<input type="hidden" asp-for="Hidden_Mode" />
<input type="hidden" asp-for="Hidden_SubMode" />
<input type="hidden" asp-for="Hidden_ChequeValidPeriod" />
<input type="hidden" asp-for="Hidden_ChequeLength" />
<input type="hidden" asp-for="Hidden_Precision" />
<input type="hidden" asp-for="SelectedModule" />

<script asp-append-version="true" src="~/js/app/transaction.js"></script>
