@model Banking.Models.CustomerModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
{
    <script>
        var errorDiv = document.getElementById("mandatoryFieldsAlert");
        errorDiv.textContent = '@Html.Raw(HtmlEncoder.Encode(Model.ErrorMessage))';
        errorDiv.classList.remove("d-none");
        errorDiv.style.display = "block";
    </script>
}

<form class="login-form" id="customerForm" novalidate asp-area="" asp-controller="Customer" asp-action="UpdateCustomer" asp-antiforgery="true" method="post">
    @Html.AntiForgeryToken()
    <div class="card mb-2">
        <div class="card-header">
            <div class="d-flex align-items-center flex-wrap">
                <h3 class="mb-0 section-title me-auto"> Customer</h3>
                <div class="ms-auto">
                    <div class="btn-group" role="group" aria-label="Basic outlined example">
                        <a asp-controller="Customer" asp-action="NewCustomer" target="_self" class="btn btn-outline-primary">New</a>
                        <a href="#" target="_self" class="btn btn-outline-primary" id="modifyCustomer">Modify</a>
                        <button type="button" class="btn btn-outline-primary" id="viewCustomer">View</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="card">
                <div class="card-body">
                    <div class="row align-items-end g-3">
                        <div class="col-md-6 col-lg-3 col-xl-3">
                            <label asp-for="Branch" class="form-label">Branch</label>
                            <select asp-for="Branch" asp-items="@Model.BranchList" class="form-select"></select>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-4">
                            <label asp-for="CustomerId" class="form-label">Cust. ID</label>
                            <div class="input-group">
                                <input asp-for="CustomerId" type="text" class="form-control">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#CustomerListBackdrop"><i class="bi bi-search"></i></button>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-5 col-xl-5">
                            <label asp-for="CustomerName" class="form-label">Name</label>
                            <div class="input-group">
                                <select asp-for="Salutation" asp-items="@Model.SalutationList" class="form-select flex-grow-0 flex-basis"></select>
                                <input type="text" asp-for="CustomerName" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 col-xl-3">
                            <label asp-for="CustomerType" class="form-label">Cust. Type</label>
                            <select asp-for="CustomerType" asp-items="@Model.CustomerTypeList" class="form-select"></select>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-4">
                            <div class="d-flex align-items-end">
                                <div class="form-check flex-shrink-0 mb-2">
                                    <input asp-for="MemberId" class="form-check-input" type="checkbox">
                                    <label asp-for="MemberId" class="form-check-label">
                                        Member ID
                                    </label>
                                </div>
                                <div class="ms-3 flex-grow-1">
                                    <label asp-for="MembershipNumber" class="form-label" id="memberNoLabel">Membership No.</label>
                                    <input asp-for="MembershipNumber" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-5 col-xl-5">
                            <label asp-for="MembershipName" class="form-label" id="memberNameLabel">Membership Name</label>
                            <input asp-for="MembershipName" type="text" class="form-control">
                        </div>
                        <div class="col-md-6 col-lg-3 col-xl-3">
                            <label asp-for="RiskCategory" class="form-label">Risk Category</label>
                            <select asp-for="RiskCategory" asp-items="@Model.RiskCategoryList"
                                    class="form-select" aria-label="Example select with button addon"></select>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-3">
                            <div class="form-check form-check-inline mb-2">
                                <input asp-for="SMS_YesNo" class="form-check-input" type="checkbox">
                                <label asp-for="SMS_YesNo" class="form-check-label">
                                    SMSYN
                                </label>
                            </div>
                            <div class="form-check form-check-inline mb-2">
                                <input asp-for="MobileAccess_YesNo" class="form-check-input" type="checkbox">
                                <label asp-for="MobileAccess_YesNo" class="form-check-label">
                                    Mob Acces Y/N
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tabs mt-3">
                <ul class="nav nav-tabs" id="maharajtab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="Personal-Dtls-tab" data-bs-toggle="tab"
                                data-bs-target="#Personal-Dtls-tab-pane" type="button" role="tab"
                                aria-controls="Personal-Dtls-tab-pane" aria-selected="true">
                            Personal Details
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="mailing-tab" data-bs-toggle="tab" data-bs-target="#mailing-tab-pane"
                                type="button" role="tab" aria-controls="mailing-tab-pane" aria-selected="false">
                            Mailing Address
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="permanent-tab" data-bs-toggle="tab" data-bs-target="#permanent-tab-pane"
                                type="button" role="tab" aria-controls="permanent-tab-pane" aria-selected="false">
                            Permanent Address
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="Office-tab" data-bs-toggle="tab" data-bs-target="#Office-tab-pane"
                                type="button" role="tab" aria-controls="Office-tab-pane" aria-selected="false">
                            Office Address
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="KYC-tab" data-bs-toggle="tab" data-bs-target="#KYC-tab-pane"
                                type="button" role="tab" aria-controls="KYC-tab-pane" aria-selected="false">
                            KYC Details
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="Family-Dtls-tab" data-bs-toggle="tab"
                                data-bs-target="#Family-Dtls-tab-pane" type="button" role="tab"
                                aria-controls="Family-Dtls-tab-pane" aria-selected="false">
                            Relation Details
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="Occupation-Dtls-tab" data-bs-toggle="tab"
                                data-bs-target="#Occupation-Dtls-tab-pane" type="button" role="tab"
                                aria-controls="Occupation-Dtls-tab-pane" aria-selected="false">
                            Occupation Details
                        </button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="Personal-Dtls-tab-pane" role="tabpanel"
                         aria-labelledby="Personal-Dtls-tab" tabindex="0">
                        <div class="row g-3 align-items-end">
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <div class="me-2 flex-shrink-0">
                                        <label asp-for="Personal_Relation" class="form-label">Relation</label>
                                        <select asp-for="Personal_Relation" asp-items="@Model.Personal_RelationList" class="form-select"></select>
                                    </div>
                                    <div class="flex-grow-1">
                                        <label asp-for="Personal_RelationName" class="form-label">Name</label>
                                        <input asp-for="Personal_RelationName" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3 col-xl-3">
                                <label asp-for="Personal_MaritalStatus" class="form-label">Marital Status</label>
                                <select asp-for="Personal_MaritalStatus" asp-items="@Model.Personal_MaritalStatusList" class="form-select"></select>
                            </div>
                            <div class="col-md-6 col-lg-3 col-xl-3">
                                <label asp-for="Personal_Gender" class="form-label">Gender</label>
                                <select asp-for="Personal_Gender" asp-items="@Model.Personal_GenderList" class="form-select"></select>
                            </div>
                            <div class="col-md-6 col-lg-3 col-xl-3">
                                <label asp-for="Personal_DOB" class="form-label">DOB</label>
                                <div class="input-group date" data-provide="datepicker">
                                    <input asp-for="Personal_DOB" type="text" class="form-control">
                                    <div class="input-group-addon input-group-text">
                                        <img src="~/images/datepicker_icon.svg" width="24">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3 col-xl-3">
                                <div class="d-flex align-items-end">
                                    <div class="flex-grow-1">
                                        <label asp-for="Age" class="form-label">Age</label>
                                        <input asp-for="Age" type="text" class="form-control">
                                    </div>
                                    <div class="flex-shrink-0 ms-2">
                                        <div class="form-check mb-2">
                                            <input asp-for="Personal_Minor" class="form-check-input" type="checkbox">
                                            <label asp-for="Personal_Minor" class="form-check-label">
                                                Minor (Y/N)
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3 col-xl-3">
                                <label asp-for="Personal_Religion" class="form-label">Religion</label>
                                <select asp-for="Personal_Religion" asp-items="@Model.Personal_ReligionList"
                                        class="form-select" aria-label="Example select with button addon"></select>
                            </div>
                            <div class="col-md-6 col-lg-3 col-xl-3">
                                <label asp-for="Personal_Mobile" class="form-label">Mobile No</label>
                                <input asp-for="Personal_Mobile" type="text" class="form-control">
                            </div>
                            <div class="col-12">
                                <div class="row g-3 align-items-end">
                                    <div class="col-md-6 col-lg-3 col-xl-3">
                                        <label asp-for="Personal_PANNo" class="form-label">PAN No</label>
                                        <input asp-for="Personal_PANNo" type="text" class="form-control">
                                    </div>
                                    <div class="col-md-6 col-xl-6">
                                        <div class="form-check form-check-inline mb-2">
                                            <input asp-for="Personal_PANABYN" class="form-check-input" type="checkbox">
                                            <label asp-for="Personal_PANABYN" class="form-check-label">
                                                PAN 206AB Y/N
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline mb-2">
                                            <input asp-for="Personal_PANAAYN" class="form-check-input" type="checkbox">
                                            <label asp-for="Personal_PANAAYN" class="form-check-label">
                                                PAN 206AA Y/N
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3 col-xl-3">
                                <label asp-for="Personal_Email" class="form-label">Email ID</label>
                                <input asp-for="Personal_Email" type="email" class="form-control">
                            </div>
                            <div class="col-md-6 col-lg-3 col-xl-3">
                                <label asp-for="Personal_Aadhaar" class="form-label">Adhar No</label>
                                <input asp-for="Personal_Aadhaar" type="text" class="form-control">
                            </div>

                            <div class="col-md-6 col-lg-3 col-xl-3">
                                <label asp-for="Personal_CKYCID" class="form-label">CKYCID</label>
                                <input asp-for="Personal_CKYCID" type="text" class="form-control">
                            </div>
                            <div class="col-md-6 col-lg-3 col-xl-3">
                                <label asp-for="Personal_GSTIN" class="form-label">GSTIN</label>
                                <input asp-for="Personal_GSTIN" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="Family-Dtls-tab-pane" role="tabpanel" aria-labelledby="Family-Dtls-tab"
                         tabindex="0">
                        <div class="row align-items-end g-3">
                            <div class="col-md-12 col-lg-6 col-xl-4 col-xxl-3">
                                <label asp-for="Relation_Name" class="form-label">Name</label>
                                <input asp-for="Relation_Name" type="text" class="form-control">
                            </div>
                            <div class="col-md-6 col-lg-3 col-xl-2 col-xxl-2">
                                <label asp-for="Relation_Type" class="form-label">Relation</label>
                                <select asp-for="Relation_Type" asp-items="@Model.Relation_List"
                                        class="form-select" aria-label="Example select with button addon"></select>
                            </div>
                            <div class="col-md-6 col-lg-3 col-xl-3">
                                <label asp-for="Relation_DOB" class="form-label">DOB</label>
                                <div class="input-group date" data-provide="datepicker">
                                    <input asp-for="Relation_DOB" type="text" class="form-control">
                                    <div class="input-group-addon input-group-text">
                                        <img src="~/images/datepicker_icon.svg" width="24">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-xl-3 col-xxl-5 text-end text-md-end text-xl-start">
                                <button type="button" class="btn btn-primary" id="AddToFamilyGrid">Ok</button>
                                <button type="button" class="btn btn-primary" id="ClearFamilyDetails">Clear</button>
                            </div>
                        </div>
                        <table class="table table-bordered mt-3">
                            <thead>
                                <tr>
                                    <th scope="col">S.No</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Date of Birth</th>
                                    <th scope="col">Relation</th>
                                </tr>
                            </thead>
                            <tbody id="familyDetails">
                                @if (Model.RelationDetails != null)
                                {
                                    int i = 1;
                                    foreach (var item in Model.RelationDetails)
                                    {
                                        <tr>
                                            <th scope="row">@(i++)</th>
                                            <td>@item.Name</td>
                                            <td>@item.DOB</td>
                                            <td>@item.RelationType</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="Occupation-Dtls-tab-pane" role="tabpanel"
                         aria-labelledby="Occupation-Dtls-tab" tabindex="0">
                        <div class="row g-3">
                            <div class="col-md-4 col-xl-3">
                                <label asp-for="Occupation_Id" class="form-label">Occupation</label>
                                <select asp-for="Occupation_Id" asp-items="@Model.Occupation_List"
                                        class="form-select" aria-label="Example select with button addon"></select>
                            </div>
                            <div class="col-md-4 col-xl-3">
                                <label asp-for="Occupation_Income" class="form-label">Annual Income</label>
                                <select asp-for="Occupation_Income" asp-items="@Model.Occupation_IncomeList"
                                        class="form-select" aria-label="Example select with button addon"></select>
                            </div>
                            <div class="col-md-4 col-xl-3">
                                <label asp-for="Occupation_Educataion" class="form-label">Education</label>
                                <select asp-for="Occupation_Educataion" asp-items="@Model.Occupation_EducationList"
                                        class="form-select" aria-label="Example select with button addon"></select>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="mailing-tab-pane" role="tabpanel" aria-labelledby="mailing-tab"
                         tabindex="0">
                        <div class="row g-3">
                            <div class="col-md-6 col-lg-6 col-xl-4">
                                <label asp-for="Mailing_FlatNo" class="form-label">Flat/Plot No</label>
                                <input asp-for="Mailing_FlatNo" type="text" class="form-control">
                            </div>
                            <div class="col-md-6 col-lg-6 col-xl-4">
                                <label asp-for="Mailing_Building" class="form-label">Bldg./Society</label>
                                <input asp-for="Mailing_Building" type="text" class="form-control">
                            </div>
                            <div class="col-md-6 col-lg-3 col-xl-4">
                                <label asp-for="Mailing_Area" class="form-label">Area/Locality</label>
                                <input asp-for="Mailing_Area" type="text" class="form-control">
                            </div>
                            <div class="col-md-6 col-lg-3 col-xl-2">
                                <label asp-for="Mailing_City" class="form-label">City/Village</label>
                                <input asp-for="Mailing_City" type="text" class="form-control">
                            </div>
                            <div class="col-md-6 col-lg-3 col-xl-2">
                                <label asp-for="Mailing_Pincode" class="form-label">Pin Code</label>
                                <input asp-for="Mailing_Pincode" type="text" class="form-control">
                            </div>
                            <div class="col-md-6 col-lg-3 col-xl-2">
                                <label asp-for="Mailing_Phone" class="form-label">Phone No.</label>
                                <input asp-for="Mailing_Phone" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="permanent-tab-pane" role="tabpanel" aria-labelledby="permanent-tab"
                         tabindex="0">
                        <div class="row g-3">
                            <div class="col-md-6 col-lg-6 col-xl-4">
                                <label asp-for="Permanent_FlatNo" class="form-label">Flat/Plot No</label>
                                <input asp-for="Permanent_FlatNo" type="text" class="form-control">
                            </div>
                            <div class="col-md-6 col-lg-6 col-xl-4">
                                <label asp-for="Permanent_Building" class="form-label">Bldg./Society</label>
                                <input asp-for="Permanent_Building" type="text" class="form-control">
                            </div>
                            <div class="col-md-6 col-lg-3 col-xl-4">
                                <label asp-for="Permanent_Area" class="form-label">Area/Locality</label>
                                <input asp-for="Permanent_Area" type="text" class="form-control">
                            </div>
                            <div class="col-md-6 col-lg-3 col-xl-2">
                                <label asp-for="Permanent_City" class="form-label">City/Village</label>
                                <input asp-for="Permanent_City" type="text" class="form-control">
                            </div>
                            <div class="col-md-6 col-lg-3 col-xl-2">
                                <label asp-for="Permanent_Pincode" class="form-label">Pin Code</label>
                                <input asp-for="Permanent_Pincode" type="text" class="form-control">
                            </div>
                            <div class="col-md-6 col-lg-3 col-xl-2">
                                <label asp-for="Permanent_Phone" class="form-label">Phone No.</label>
                                <input asp-for="Permanent_Phone" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="Office-tab-pane" role="tabpanel" aria-labelledby="Office-tab"
                         tabindex="0">
                        <div class="row g-3">
                            <div class="col-md-6 col-lg-6 col-xl-4">
                                <label asp-for="Office_Company" class="form-label">Company</label>
                                <input asp-for="Office_Company" type="text" class="form-control">
                            </div>
                            <div class="col-md-6 col-lg-6 col-xl-4">
                                <label asp-for="Office_Building" class="form-label">Bldg./Society</label>
                                <input asp-for="Office_Building" type="text" class="form-control">
                            </div>
                            <div class="col-md-6 col-lg-3 col-xl-4">
                                <label asp-for="Office_Area" class="form-label">Area/Locality</label>
                                <input asp-for="Office_Area" type="text" class="form-control">
                            </div>
                            <div class="col-md-6 col-lg-3 col-xl-2">
                                <label asp-for="Office_City" class="form-label">City/Village</label>
                                <input asp-for="Office_City" type="text" class="form-control">
                            </div>
                            <div class="col-md-6 col-lg-3 col-xl-2">
                                <label asp-for="Office_Pincode" class="form-label">Pin Code</label>
                                <input asp-for="Office_Pincode" type="text" class="form-control">
                            </div>
                            <div class="col-md-6 col-lg-3 col-xl-2">
                                <label asp-for="Office_Phone" class="form-label">Phone No.</label>
                                <input asp-for="Office_Phone" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="KYC-tab-pane" role="tabpanel" aria-labelledby="KYC-tab" tabindex="0">
                        <div class="row g-3 align-items-end">
                            <div class="col-xl-9">
                                <label asp-for="KYCType" class="form-label">KYC Proof</label>
                                <div class="d-flex align-items-center">
                                    <div class="me-2 flex-shrink-0">
                                        <select asp-for="KYCType" asp-items="@Model.KYCTypeList" class="form-select"></select>
                                    </div>
                                    <div class="flex-grow-1 me-2">
                                        <input asp-for="KYCNumber" type="text" class="form-control">
                                    </div>
                                    <div class="flex-grow-1">
                                        <input asp-for="KYCFile" class="form-control" type="file">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 text-end text-xl-start">
                                <button type="button" class="btn btn-primary" id="AddToGrid">Add</button>
                                <button type="button" class="btn btn-primary" id="KYCClear">Clear</button>
                            </div>
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th scope="col">S.No</th>
                                                <th scope="col">Description</th>
                                                <th scope="col">KYC No</th>
                                            </tr>
                                        </thead>
                                        <tbody id="kycDetails">
                                            @if (Model.KYCDetails != null)
                                            {
                                                int i = 1;
                                                foreach (var item in Model.KYCDetails)
                                                {
                                                    <tr>
                                                        <th scope="row">@(i++)</th>
                                                        <td>@item.KYCDescription</td>
                                                        <td>@item.KYCNo</td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center py-3">
            <button type="submit" class="btn btn-primary">Ok</button>
            <a asp-controller="@Model.ReferrerController" asp-action="@Model.ReferrerAction" class="btn btn-primary">Cancel</a>
            <button type="button" class="btn btn-primary" id="Cancel">Exit</button>
        </div>
    </div>

    <input type="hidden" id="hiddenCustId" name="custId" />
    <input type="hidden" id="hiddenFamilyField" name="hiddenFamilyField" />
</form>

<script asp-append-version="true" src="~/js/app/customer.js"></script>
