@model Banking.Models.CustomerModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script asp-append-version="true" src="~/js/app/newcustomer.js"></script>

<form class="login-form" id="newCustomerForm" novalidate asp-area="" asp-controller="Customer" asp-action="NewCustomer"
      asp-antiforgery="true" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <div class="card mb-2 h-100">
        <div class="card-header">
            <h3 class="mb-0 section-title">Customer Master</h3>
        </div>
        <div class="card-body">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row align-items-end g-3">
                        <div class="col-md-4 col-lg-4 col-xl-3">
                            <label asp-for="Branch" class="form-label">Branch Code</label>
                            <select asp-for="Branch" asp-items="@Model.BranchList" class="form-select"></select>
                        </div>
                        <div class="col-md-8 col-lg-8 col-xl-4">
                            <label class="form-label">Search Customer</label>
                            <div class="input-group">
                                <select class="form-select flex-grow-0 flex-basis" id="idSearch">
                                    <option selected value="">Select</option>
                                    <option value="PAN">PAN</option>
                                    <option value="AADHAAR">Aadhaar</option>
                                </select>
                                <input type="text" class="form-control" id="idSearchValue">
                                <button class="btn btn-primary" id="searchById" type="button">Search</button>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-8 col-xl-5">
                            <label asp-for="Salutation" class="form-label">Name <span class="text-danger">*</span></label>
                            <div class="input-group">
                                <select asp-for="Salutation" asp-items="@Model.SalutationList" class="form-select flex-grow-0 flex-basis"></select>
                                <input asp-for="CustomerName" type="text" class="form-control">
                                <button type="button" class="btn btn-primary" id="searchByNameModal" data-bs-toggle="modal" data-bs-target="#nameSearchModal">
                                    Search
                                </button>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-3">
                            <label asp-for="CustomerType" class="form-label">Cust. Type <span class="text-danger">*</span></label>
                            <select asp-for="CustomerType" asp-items="@Model.CustomerTypeList" class="form-select"></select>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-4">
                            <div class="d-flex align-items-end">
                                <div class="form-check flex-shrink-0 mb-2">
                                    <input asp-for="MemberId" class="form-check-input" type="checkbox">
                                    <label asp-for="MemberId" class="form-check-label">
                                        Member ID
                                    </label>
                                </div>
                                <div class="ms-3 flex-grow-1">
                                    <label class="form-label" id="memberNoLabel">Membership No.</label>
                                    <input asp-for="MembershipNumber" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 col-xl-5">
                            <label asp-for="MembershipName" class="form-label" id="memberNameLabel">Membership Name</label>
                            <input asp-for="MembershipName" type="text" class="form-control">
                        </div>
                        <div class="col-md-6 col-lg-3 col-xl-3">
                            <label asp-for="Personal_DOB" class="form-label">DOB <span class="text-danger">*</span></label>
                            <div class="input-group date" data-provide="datepicker">
                                <input asp-for="Personal_DOB" type="text" class="form-control">
                                <div class="input-group-addon input-group-text">
                                    <img src="~/images/datepicker_icon.svg" width="24">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 col-xl-4">
                            <div class="d-flex align-items-end">
                                <div class="flex-grow-1">
                                    <label asp-for="Age" class="form-label">Age</label>
                                    <input asp-for="Age" type="text" class="form-control">
                                </div>
                                <div class="flex-shrink-0 ms-2">
                                    <div class="form-check mb-2">
                                        <input asp-for="Personal_Minor" class="form-check-input" type="checkbox">
                                        <label asp-for="Personal_Minor" class="form-check-label">
                                            Minor Y/N
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xl-5">
                            <div class="d-flex align-items-center">
                                <div class="me-2 flex-shrink-0">
                                    <label asp-for="Personal_Relation" class="form-label">Relation</label>
                                    <select asp-for="Personal_Relation" asp-items="@Model.Personal_RelationList" class="form-select"></select>
                                </div>
                                <div class="flex-grow-1">
                                    <label asp-for="Personal_RelationName" class="form-label">Name</label>
                                    <input asp-for="Personal_RelationName" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row g-3 align-items-end">
                        <div class="col-md-6 col-xl-3">
                            <label asp-for="Mailing_FlatNo" class="form-label">Flat No / Plot No <span class="text-danger">*</span></label>
                            <input asp-for="Mailing_FlatNo" type="text" class="form-control">
                        </div>
                        <div class="col-md-6 col-xl-3">
                            <label asp-for="Mailing_Building" class="form-label">Building / Society <span class="text-danger">*</span></label>
                            <input asp-for="Mailing_Building" type="text" class="form-control">
                        </div>
                        <div class="col-md-4 col-xl-2">
                            <label asp-for="Mailing_Area" class="form-label">Area / Locality</label>
                            <input asp-for="Mailing_Area" type="text" class="form-control">
                        </div>
                        <div class="col-md-4 col-xl-2">
                            <label asp-for="Mailing_City" class="form-label">City / Village</label>
                            <input asp-for="Mailing_City" type="text" class="form-control">
                        </div>
                        <div class="col-md-4 col-xl-2">
                            <label asp-for="Mailing_Pincode" class="form-label">Pincode <span class="text-danger">*</span></label>
                            <input asp-for="Mailing_Pincode" type="text" class="form-control">
                        </div>
                        <div class="col-lg-12">
                            <div class="form-check mb-2 float-end">
                                <input asp-for="IsMailingSameAsPermanent" class="form-check-input" type="checkbox">
                                <label asp-for="IsMailingSameAsPermanent" class="form-check-label">
                                    Permanent adress same as mailing address.
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row g-3 align-items-end">
                        <div class="col-md-4 col-xl-3">
                            <label asp-for="Personal_Gender" class="form-label">Gender <span class="text-danger">*</span></label>
                            <select asp-for="Personal_Gender" asp-items="@Model.Personal_GenderList" class="form-select"></select>
                        </div>
                        <div class="col-md-4 col-xl-3">
                            <label asp-for="Personal_MaritalStatus" class="form-label">Marital Status <span class="text-danger">*</span></label>
                            <select asp-for="Personal_MaritalStatus" asp-items="@Model.Personal_MaritalStatusList" class="form-select"></select>
                        </div>
                        <div class="col-md-4 col-xl-3">
                            <div class="form-check mb-2">
                                <input asp-for="IsGlobalCustomer" class="form-check-input" type="checkbox">
                                <label asp-for="IsGlobalCustomer" class="form-check-label">
                                    Global Customer
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row g-3">
                        <div class="col-xl-12 col-xxl-6">
                            <div class="row g-3 align-items-end">
                                <div class="col-md-6 col-lg-4 col-xl-3 col-xxl-6">
                                    <label asp-for="Personal_Mobile" class="form-label">Mobile No <span class="text-danger">*</span></label>
                                    <input asp-for="Personal_Mobile" type="text" class="form-control">
                                </div>
                                <div class="col-md-6">
                                    <div class="form-check form-check-inline mb-2">
                                        <input asp-for="SMS_YesNo" class="form-check-input" type="checkbox">
                                        <label asp-for="SMS_YesNo" class="form-check-label">
                                            SMSYN
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline mb-2">
                                        <input asp-for="MobileAccess_YesNo" class="form-check-input" type="checkbox">
                                        <label asp-for="MobileAccess_YesNo" class="form-check-label">
                                            Mob Acces YN
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-3 col-xxl-2">
                            <label asp-for="Office_Phone" class="form-label">Phone No.(Off)</label>
                            <input asp-for="Office_Phone" type="text" class="form-control">
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-3 col-xxl-2">
                            <label asp-for="Permanent_Phone" class="form-label">Phone No.(Res)</label>
                            <input asp-for="Permanent_Phone" type="text" class="form-control">
                        </div>
                        <div class="col-lg-4 col-xl-3 col-xxl-2">
                            <label asp-for="Personal_Email" class="form-label">Email ID</label>
                            <input asp-for="Personal_Email" type="email" class="form-control">
                        </div>
                        <div class=" col-xl-12 col-xxl-6">
                            <div class="row g-3 align-items-end">
                                <div class="col-md-6 col-lg-4 col-xl-6 col-xxl-6">
                                    <label asp-for="Personal_PANNo" class="form-label">Pan No</label>
                                    <input asp-for="Personal_PANNo" type="text" class="form-control">
                                </div>
                                <div class="col-md-6">
                                    <div class="form-check form-check-inline mb-2">
                                        <input asp-for="Personal_PANABYN" class="form-check-input" type="checkbox">
                                        <label asp-for="Personal_PANABYN" class="form-check-label">
                                            Pan 206AB YN
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline mb-2">
                                        <input asp-for="Personal_PANAAYN" class="form-check-input" type="checkbox">
                                        <label asp-for="Personal_PANAAYN" class="form-check-label">
                                            Pan 206AA YN
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 col-xl-3 col-xxl-2">
                            <label asp-for="Personal_Aadhaar" class="form-label">Adhar No</label>
                            <input asp-for="Personal_Aadhaar" type="text" class="form-control">
                        </div>
                        <div class="col-md-6 col-lg-3 col-xl-3 col-xxl-2">
                            <label asp-for="Personal_GSTIN" class="form-label">GSTIN</label>
                            <input asp-for="Personal_GSTIN" type="text" class="form-control">
                        </div>
                        <div class="col-md-6 col-lg-3 col-xl-3 col-xxl-2">
                            <label asp-for="Personal_CKYCID" class="form-label">CKYCID</label>
                            <input asp-for="Personal_CKYCID" type="text" class="form-control">
                        </div>
                        <div class="col-md-6 col-lg-3 col-xl-3 col-xxl-2">
                            <label asp-for="Personal_CKYCEnrollDate" class="form-label">CKYC Enroll Date <span class="text-danger">*</span></label>
                            <div class="input-group date" data-provide="datepicker">
                                <input asp-for="Personal_CKYCEnrollDate" type="text" class="form-control">
                                <div class="input-group-addon input-group-text">
                                    <img src="~/images/datepicker_icon.svg" width="24">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-xl-3">
                <div class="col-xl-6">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <label asp-for="Personal_Religion" class="form-label">Religion</label>
                                    <select asp-for="Personal_Religion" asp-items="@Model.Personal_ReligionList" class="form-select"></select>
                                </div>
                                <div class="col-md-6">
                                    <label asp-for="RiskCategory" class="form-label">Risk Category</label>
                                    <select asp-for="RiskCategory" asp-items="@Model.RiskCategoryList" class="form-select"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <label asp-for="Occupation_Id" class="form-label">Occupation</label>
                                    <select asp-for="Occupation_Id" asp-items="@Model.Occupation_List" class="form-select"></select>
                                </div>
                                <div class="col-md-6">
                                    <label asp-for="Occupation_Income" class="form-label">Annual Income</label>
                                    <select asp-for="Occupation_Income" asp-items="@Model.Occupation_IncomeList" class="form-select"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row g-3 align-items-end">
                        <div class="col-xl-9">
                            <label asp-for="KYCType" class="form-label">KYC Prof.</label>
                            <div class="d-flex align-items-center">
                                <div class="me-2 flex-shrink-0">
                                    <select asp-for="KYCType" asp-items="@Model.KYCTypeList" class="form-select"></select>
                                </div>
                                <div class="flex-grow-1 me-2">
                                    <input asp-for="KYCNumber" type="text" class="form-control">
                                </div>
                                <div class="flex-grow-1">
                                    <input asp-for="KYCFile" class="form-control" type="file">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 text-end text-xl-start">
                            <button type="button" class="btn btn-primary" id="AddToGrid">Add</button>
                            <button type="button" class="btn btn-primary">Clear</button>
                        </div>
                        <div class="col-12">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col">S.No</th>
                                            <th scope="col">Description</th>
                                            <th scope="col">KYC No</th>
                                        </tr>
                                    </thead>
                                    <tbody id="kycDetails">
                                        @if (Model.KYCDetails != null)
                                        {
                                            int i = 1;
                                            foreach (var item in Model.KYCDetails)
                                            {
                                                <tr>
                                                    <td scope="row">@(i++)</td>
                                                    <td>@item.KYCDescription</td>
                                                    <td>@item.KYCNo</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center py-3">
            <button type="submit" class="btn btn-primary">Ok</button>
            <a asp-controller="@Model.ReferrerController" asp-action="@Model.ReferrerAction" target="_self" class="btn btn-primary">Cancel</a>
        </div>
    </div>
    <input asp-for="ApplicationDate" type="hidden" class="form-control">
</form>

<div class="modal fade" id="nameSearchModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="nameSearchModalLabel">Search Customer by Name</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="searchByName" placeholder="Customer name" aria-label="Customer name">
                    <button class="btn btn-primary" type="button" id="searchClick">Search</button>
                </div>
                <div id="namesList" style="max-height:400px; overflow-y:auto;"></div>
            </div>
        </div>
    </div>
</div>
