@model Banking.Models.BaseModel

<div class=" side-menu col flex-grow-0 flex-shrink-0">
    <div class="card h-100">
        <div class="card-body px-1">
            <div class="list-group list-group-flush">
                <a asp-controller="Dashboard" asp-action="Index" class="list-group-item list-group-item-action" aria-current="true">
                    Dashboard
                </a>
                @if (Model.MenuDetails != null)
                { 
                    foreach (var item in Model.MenuDetails)
                    {
                        <a asp-controller="@item.ControllerName" asp-action="@item.ActionName" class="list-group-item list-group-item-action" aria-current="true">
                            @item.Text
                        </a>
                        <ul>
                            @if (item.SubMenu != null)
                            {
                                foreach (var innerItem in item.SubMenu)
                                {
                                    <a asp-controller="@innerItem.ControllerName" asp-action="@innerItem.ActionName">@innerItem.Text</a>
                                }
                            }
                        </ul>
                    }
                }
                <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                    Help
                </a>
            </div>
        </div>
    </div>
</div>
